*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	@media (max-width: 1200px) {
		font-size: 50%;
	}

	@media (max-width: 750px) {
		font-size: 40%;
	}
}

body {
	background-color: #eee;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.7;
}

.form-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000000b3;
	backdrop-filter: blur(0.8rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

.gform {
	background-image: linear-gradient(145deg, #ce1b28 0%, #101110 90%);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 1.7rem;
	padding: 6rem;
	position: relative;
	border-radius: 0.5rem;
}

.gform *:not(:last-child) {
	margin-bottom: 2rem;
}

.form-input {
	width: 40vw;
	font-family: inherit;
	font-size: 1.7rem;
	padding: 1.5rem 2rem;
	border-radius: 0.2rem;
	background-color: rgba(255, 255, 255, 0.5); /* Updated background color */
	border: none;
	border-bottom: 0.3rem solid transparent;
	display: block;
	color: #fff;
	transition: all 0.3s;
}

.form-input::-webkit-input-placeholder {
	color: #fff;
}

.form-input:focus {
	outline: none;
	box-shadow: 0 1rem 2rem #222;
	border-bottom: 0.3rem solid #55c57a;
}

.form-input:focus:invalid {
	border-bottom: 0.3rem solid #ce1b28;
}

.gform__label {
	color: #fff;
	font-size: 1.7rem;
	font-weight: 700;
	display: block;
	margin-left: 2rem;
	transition: all 0.3s;
}

.form-input:placeholder-shown + .gform__label {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-4rem);
}

.btnClose {
	position: absolute;
	top: 1rem;
	right: 1rem;
	border: none;
	background-color: transparent;
	outline: none;
	font-size: 1.7rem;
	font-weight: 800;
	cursor: pointer;
	padding: 1rem;
	color: #fff;
}

.form-btn {
	cursor: pointer;
	border: none;
	border-radius: 1rem;
	background-color: #eee;
	color: #ce1b28;
	padding: 1rem 3rem;
	transition: all 0.1s;
}

.form-btn:hover {
	transform: translateY(-0.1rem);
	box-shadow: 0 0.5rem 1rem #222;
}

.form-btn:active {
	transform: translateY(0.1rem);
}

.header-section {
	height: 25vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(145deg, #ce1b28 0%, #101110 74%);
	background-size: cover;
	color: #eee;
	@media (max-width: 750px) {
		height: 15vh;
	}
}
.h-1 {
	font-weight: 300;
	text-transform: uppercase;
	line-height: 2rem;
	font-size: 5rem;
}

.contacts {
	display: flex;
	align-items: start;
	@media (max-width: 1000px) {
		flex-direction: column-reverse;
	}
}

.hidden {
	display: none;
}

.table-container {
	width: 75vw;
	min-height: 75vh;
	font-size: 1.7rem;
	border-right: 0.1rem solid #101110;
	@media (max-width: 1000px) {
		width: 100%;
		border: none;
	}

	/* @media (max-width: 600px) {
		display: none;
	} */
}

.contact-table {
	width: 100%;
	border-collapse: collapse;
}

.contact-table th,
.contact-table td {
	padding: 1rem;
}

.contact-table th {
	background-color: #000;
	color: #ce1b28;
	text-align: start;
}

.contact-table td {
	color: #101110;
}

.contact-table tr {
	border-bottom: #999 0.1rem solid;
}

.contact-table tr:nth-child(even) {
	background-color: #fff;
}

.contact-table tr:nth-child(odd) {
	background-color: #ccc;
}

#loading-message {
	text-align: center;
	margin-top: 5rem;
	font-weight: 800;
	font-size: 3rem;
}

.side-contact {
	position: sticky;
	top: 0;
	width: 25vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10rem 5rem;
	@media (max-width: 1000px) {
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 2rem 2rem;
		background-color: #000;
	}
}

#contact-search {
	width: 100%;
	margin-bottom: 10rem;
	border: none;
	box-shadow: 0 1rem 2rem #222;
	font-size: 2rem;
	padding: 1rem 2rem;
	outline: none;
	border-radius: 1rem;
	@media (max-width: 1000px) {
		margin-bottom: 0;
		width: 70%;
		margin-right: 2rem;
	}
}

.btnAddContact {
	font-size: 2.5rem;
	border: none;
	border-radius: 1rem;
	padding: 1rem 3rem;
	color: #fff;
	background-color: #ce1b28;
	cursor: pointer;
	@media (max-width: 500px) {
		font-size: 2rem;
		padding: 1rem;
	}
}

.btnAddContact:hover {
	transform: translateY(-0.1rem);
	box-shadow: 0 0.5rem 1rem #222;
}

.btnAddContact:active {
	transform: translateY(0.1rem);
}

.btnEdit,
.btnDelete {
	color: #fff;
	background-color: #ce1b28;
	cursor: pointer;
	border: none;
	border-radius: 1rem;
	padding: 1rem 3rem;
	font-size: 1.7rem;
	transition: all 0.1s;
	@media (max-width: 750px) {
		padding: 1rem 1.5rem;
	}
}

.btnEdit:hover,
.btnDelete:hover {
	transform: translateY(-0.1rem);
	box-shadow: 0 0.5rem 1rem #222;
}

.btnEdit:active,
.btnDelete:active {
	transform: translateY(0.1rem);
}

.list-container {
	width: 100%;
	@media (min-width: 600px) {
		display: none;
	}
}

.contact-list {
	width: 100%;
}

.contact-number {
	width: 100%;
	font-size: 1.8rem;
	overflow: hidden;
	border-bottom: 0.1rem solid #000;
	position: relative;
}

#expand-contact {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.contact-name__list {
	font-size: 3rem;
	font-weight: 600;
}

.contact-list li:nth-child(even) {
	background-color: #fff;
}

.contact-list li:nth-child(odd) {
	background-color: #ccc;
}

.expand-shown {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	opacity: 0;
	transition: all 0.1s 0.1s;
}

.contact-info {
	padding: 1rem 2rem;
	max-height: 10rem;
	overflow: hidden;
	transition: max-height 0.3s;
}

#expand-contact:checked ~ .contact-info {
	max-height: 20rem;
}

#expand-contact:checked ~ .contact-info > .expand-shown {
	opacity: 1;
}

.contact-info button {
	margin-left: 1rem;
}
